.ac-cta {
  @apply .mt-8 .inline-flex .justify-center .items-center .h-16 .border  .uppercase  .font-bold .px-8;
  @apply .border-2 .border-blue .text-blue .cursor-pointer;
  transition: all 200ms ease-in-out;

  &:hover, &:focus {
    @apply .text-white .bg-blue ;
  }
  
  &:active {
    transform: translateY(2px)
  }
 
  /* COLORS VARIANTS */
  &--white {
    @apply .border-white .text-white;

    &:hover, &:focus {
      @apply .text-blue .bg-white ;
    }
  }
  
  &--blue {
    @apply .border-blue .text-white .bg-blue;

    &:hover, &:focus {
      @apply .bg-blue-dark .border-blue-dark ;
    }
  }

  &--blue-dark {
    @apply .border-blue-dark .text-white .bg-blue-dark;

    &:hover, &:focus {
      @apply .bg-blue .border-blue ;
    }
  }
  
  /* TOPBAR SPECIFIC */
  &--topbar {
    @apply .mt-0 .text-xs .w-1/2 .px-8 .h-12;

    @screen tablet {
      @apply .text-base;
    }
  }

  @screen tablet {
    @apply .w-auto;
  }
}

.ac-cta-banner {
  display: none;
  
  @screen tablet {
    @apply .block .bg-blue .text-white .py-16 .my-16;
  }
  
  &-container {
    @apply .container-sm  .w-3/4 .mx-auto .flex .flex-col;
    
    @screen laptop {
      @apply .flex-row;
    }
  }
  
  &__left {
    @apply .w-full .pr-16 .mb-8;
    @screen laptop {
      @apply .w-3/5 .pr-8;
    }
  }

  &__right {
    @apply .flex .justify-around;

    @screen laptop {
      box-shadow: -19px 3px 22px -28px #000;
      @apply  .w-2/5 .flex-col .items-center .justify-center .pl-8;
    }
  }
  
  &__img {
  }
  
  .ac-h2:after {
    background-color: theme('colors.white')
  }
  
  &__text {
    @apply .text-2xl .text-center;

    @screen laptop {
      @apply .text-left;
    }
  }
}