.ac-footer {
  
  &-container {
    max-width: theme('screens.desktop');
    @apply .mx-auto;
  }

  &__section {
    @apply .mx-auto .flex .flex-col .items-center;
    
    @screen tablet {
      @apply .w-1/3 .items-start;
    }
  }
  
  &__title {
    @apply .my-8 .py-4 .uppercase .border-b .border-blue .text-white .text-center .text-lg .font-bold;
    
    @screen tablet {
      @apply .mt-0 .text-xl;
    }

    @screen laptop {
      @apply .mt-0 .text-2xl;
    }

    @screen desktop {
      @apply .mt-0 .text-3xl;
    }
  }
  
  &__nav, &__addr {
    text-align: center;
    
    @screen tablet {
      text-align: left;
    }
  }

  &__link {
    @apply .block .mb-4 .text-white; 

    @screen desktop {
      @apply .text-xl;
    }
    
    &:last-of-type {
      @apply .mb-0;
    }
    
    &:hover {
      @apply .text-blue
    }
  }
  
  &__addr {
    @apply .text-white .italic;
  }
}