.ac-header {
  @apply .shadow; 
  
  .ac-topbar {
    @apply .flex .justify-end;
    
    @screen laptop {
      @apply .max-w-2xl .ml-auto;
    }
  }

  &.is-active {
    @apply .h-screen overflow-hidden;

    .ac-menu {
      @apply .flex;
      height: calc(100vh - (3rem + 6rem)); /* = viewport - (ac-topbar + ac-logo) */
    }
  }
  
  .ac-navigation {
    @apply .flex .flex-wrap;

    @screen laptop {
      @apply .mx-auto .flex-no-wrap .justify-between;
      max-width: theme('screens.desktop');
    }
  }

  .ac-logo {
    @apply .w-1/2 .h-24 .flex .items-center .pl-8;
    
    @screen tablet {
    @apply .pl-16;
    }
  }

  .ac-toggle-menu {
    @apply  .w-1/2 .h-24 .flex .justify-end .items-center .pr-8;
    
    @screen tablet {
      @apply .pr-16;
    }

    @screen laptop {
      @apply .hidden;
    }
  }

  .ac-menu {
    @apply .w-full .hidden .bg-gray-light;

    @screen laptop {
      @apply .flex .pr-16 .bg-white;
    }

    &-container {
      @apply .w-full .flex .flex-col .justify-center .items-center .shadow-inner;

      @screen laptop {
        @apply .flex-row .justify-between .shadow-none;
      }
    }

    &__link {
      @apply .w-48 .p-4 .text-center .uppercase .border-b .border-gray;
      
      &:last-of-type {
        @apply .border-b-0;
      }

      &:hover {
        @apply .text-blue-dark;
      }
      
      &:active {
        @apply .text-blue;
      }

      @screen tablet {
        @apply .py-12 .px-8 .text-xl;
        width: 300px;
      }

      @screen laptop {
        @apply .p-0 .w-auto .border-0 .text-base;
      }

      @screen desktop {
        @apply .text-lg;
      }
    }
  }
}
