.ac-hero {
  @apply .w-full .py-24 .px-4 .relative;
  
  background-color: theme('colors.brown.default');

  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background:white;
    height: 4rem;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%);
    transform: translateY(1px);
  }

  @screen tablet {
    @apply .py-24;
  }

  @media (min-width: 1250px ) {
    background-size: cover;
  }

  &--home {
    @screen laptop {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../images/backgrounds/background-main.png');
      background-color: transparent;
    }
    
    .ac-h2 {
      text-align: center;
      
      &:after {
        left: calc(50% - (theme('width.24') / 2));
      }
    }
    
    .ac-rate {
      text-align: center;
      font-style: italic;
      
      &__number {
        @apply .block .text-blue .font-bold .text-6xl;

        @screen tablet {
          font-size: 10rem;
        }
      }
      
      &__percent {
        @apply .text-blue .font-bold .text-3xl;
        
        @screen tablet {
          @apply .text-6xl;
        }
      }
      
      &__time {
        @apply .block .ml-8 .text-white .text-lg .uppercase;
        margin-top: -1rem;

        @screen tablet {
          margin-top: -2rem;
        }
      }
    }
  }

  &--qui-sommes-nous {
    @screen laptop {
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../images/backgrounds/background-quisommesnous.png');
      background-color: transparent;
    }

    @screen desktop {
      background-size: cover;
    }
  }

  &--blog {
    @screen tablet {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      background-image: url('../images/backgrounds/background-blog.png');
    }

    @screen laptop {
      background-size: cover;
    }
  }

  &--agences {
    @screen tablet {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      background-image: url('../images/backgrounds/background-dunkerque.png');
      background-color: white;
      
      &:after {
        display: block;
      }
    }

    @screen laptop {
      height: 36rem;
    }
  }

  &--nous-contacter {
    @screen tablet {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      background-image: url('../images/backgrounds/background-pageauto.png');
      background-color: white;
    }

    @screen laptop {
      background-size: cover;
    }
  }

  &--exclu-immo &-container {
    @screen laptop {
      background-size: cover;
      background-repeat: no-repeat;
      background: url('../images/svg/icon-co-white.svg') no-repeat center right;
      background-color: theme('colors.brown.default');
    }
  }

  &-container {
    @apply .container-sm .mx-auto;
  }
 
  &__intro {
    @apply .text-center .text-white .text-lg;
   
    @screen laptop {
      @apply .text-left .text-xl;
    }
  }
}