/* INDEX */

.ac-agences {
  @apply .flex .flex-wrap .justify-center;
  
  @screen tablet {
    @apply .justify-around;
  }
  
  &__item {
    @apply  .w-full .mb-12 .text-center;
    
    @screen tablet {
      @apply .w-1/2;
    }

    @screen laptop {
      @apply .w-1/3;
    }
  }
  
  &__img {
    @apply  .hidden;
    
    @screen tablet {
      @apply .block .mx-auto;
    }
  }
  
  &__town {
    @apply  .w-64 .mx-auto .uppercase .text-brown .text-xl .font-bold .mb-2;
    
    @screen tablet {
      @apply  .bg-brown .text-white .py-4;
    }
  }
  
  &__addr {
    @apply  .text-lg .leading-relaxed;
  }
  
  &__yours {
    @apply  .bg-blue .text-white .px-8 .py-4 .w-64 .mx-auto .text-2xl .uppercase .font-bold;
  }
  
  &__cta {
    @apply  .w-64;
    
    @screen tablet {
      @apply .w-48 .text-base .px-4 .h-12;
    }
  }
}

/* BLOG & INDEX */

.ac-article {
  @apply .flex .flex-col .items-center .my-8 .mx-4;
  
  &--blog {
    @screen tablet {
      &:nth-of-type(odd) {
        .ac-article__content {
          @apply .items-end;
          order: -1;
        }

        .ac-article__title {
          @apply .text-right;
        }
      }
    }
  }
  
  @screen tablet {
    @apply .flex-row;
  }

  @screen laptop {
    padding: 0;
  }
  
  &__img {
    @apply .w-full .h-auto .my-2 .mx-0;

    @screen tablet {
      width: 50%;
      @apply .w-1/2 .mx-2 .my-0;
    }
  }
  
  &__content {
    @apply .my-2 .mx-0 .flex .flex-col .items-center;

    @screen tablet {
      @apply .mx-2 .my-0 .w-1/2 .items-start; 
    }
  }
  
  &__category {
    @apply .px-8 .py-2 .bg-brown .uppercase .text-white .font-bold .italic;
  }
  
  &__title {
    @apply .my-4 .w-3/4 .text-center .text-lg .text-brown .font-bold .uppercase;
    
    @screen tablet {
      @apply .text-left;
    }
  }
  
  &__intro {
    @apply  .hidden;

    @screen laptop {
      @apply .block .my-4 .text-justify .leading-loose;
    }
  }
  
  &__read-more {
    @apply .tracking-tighter .leading-none .text-blue .font-bold .uppercase .border-b;
  }
}

.ac-pagination {
  @apply .flex .w-64 .mb-8 .mx-auto .justify-between;

  &__item {
    @apply .text-2xl .font-bold;
  }
  
  &__link {
    &.is-active,
    &:hover {
      @apply .text-blue;
    }
  }
}

/* AGENCE */

.ac-agence-card {
  @apply  .block .max-w-sm .shadow .mb-4 .mx-auto;
  
  @screen tablet {
    @apply .ml-0 .mr-4;
  }
 
  &__img {
    @apply .mx-auto .w-full .h-auto;
  }
  
  &__details {
    @apply  .py-8 .px-4;
  }
  
  &__city {
    @apply .block .uppercase;
  }
  
  &__name {
    @apply .block .text-lg .font-bold;
  }
  
  &__price {
    @apply .block .text-xl .text-blue .font-bold;
  }
}