.ac-h2, .ac-h3 {
 @apply .my-8 .text-white .text-3xl .italic .font-bold .text-center .uppercase .italic .relative .leading-tight;

  @screen laptop {
    @apply .text-left .text-5xl;
  }
  
  &:after {
    content: '';
    position: absolute;
    bottom: -1rem;
    height: 2px;
    background-color: theme('colors.blue.default');
    left: calc(50% - (theme('width.24') / 2));
    @apply .w-24;
    
    @screen laptop {
      left: 0%;
    }
  }
}

.ac-h3 {
  @apply .mx-auto .text-brown .text-3xl .text-center .mb-16;

  &:after {
    left: calc(50% - 5rem);

    width: 10rem;
  }
  
  @screen tablet {
    &--left {
      text-align: left;
      &:after {
        left: 0;
      }
    }
  }

  &--white {
    @apply .text-white;
  }
}