a:hover {
  color: theme('colors.blue.default');
}

.container-sm {
  width: 100%;
  max-width: theme('screens.laptop');
}

.text-15xl {
  font-size: 10rem;
}

.ac-text {
  @apply .leading-relaxed .mb-8 .text-justify .text-lg .w-full;
  
  @screen tablet {
    @apply .w-1/2;
  }

    @screen tablet {
      @apply .px-4;
    }
}

.ac-input {
  @apply  .w-full .p-4 .bg-gray-light .border-b-2 .border-black .text-lg;
}

hr {
  @apply .w-full h-px .mx-auto .my-4 .border-blue .max-w-lg !important;
  
  &.is-full-width {
    max-width: initial !important;
  }
}